[core]
	editor = nvim
	pager = less -FX
    autocrlf = input

[push]
	autoSetupRemote = true

[advice]
	forceDeleteBranch = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
[fetch]
	prune = true

[commit]
    gpgSign = true
[tag]
    gpgSign = true
    sort = -version:refname
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[include]
	path = ~/.config/git/alias

# profile wise configs
[include]
	path = ~/.config/git/.gitconfig-profile
