[core]
	editor = nvim
	pager = less -FX

[push]
	autoSetupRemote = true

[advice]
	forceDeleteBranch = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
[fetch]
	prune = true

[tag]
	sort = -version:refname

[include]
	path = ~/.config/git/alias

# Local/private configs
[include]
	path = ~/.config/git/.gitconfig-local
