[user]
    name = noxtar
    user = noxtar
    email = 87257970+WoodenNebula@users.noreply.github.com
    signingkey = ~/.ssh/github_ed25519.pub
[core]
	editor = nvim
	pager = less -FX

[include]
  path = ~/.config/git/alias

[alias]
	lg = !git log --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr) %C(yellow)%d%Creset' -n
    lg-t = log --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr) %C(yellow)%d%Creset' --since=yesterday
	lg-ls = !git log --pretty=format:'%Cred%h%Creset - %s %C(bold blue)<%an>%Creset %Cgreen(%cr) %C(yellow)%d%Creset' --name-only -n
	unstage = restore --staged
	s = status
	c = commit -m
	ch = checkout
	chb = checkout -b
	append = commit --amend --no-edit
	sm = stash -m
	sl = stash list

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
    gpgSign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
